
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

body, main {
	font-family: 'Figtree', sans-serif;
}

.attribution {
	font-size: 0.9rem;
	color: #222;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
